:root {
  --negro: #000000;
  --blanco: #ffffff;
  --oscuro: #0b0b0b;
  --crema: #daf7a6;
  --amarillo: #eccb13;
  --naranja: #ff5733;
}

html {
  font-size: 38%;
  box-sizing: border-box;

  
}

*,
*::before,
*::before {
  box-sizing: inherit;
}

body {
  font-size: 3rem;
  font-family: "Source Sans Pro", sans-serif;

}

/* Barra de navegacion */
.titulo {
  padding: auto;
  text-align: center;
  font-size: 2.8rem;
  color: var(--negro);
}

.titulo span {
  font-size: 6rem;
  color: var(--amarillo);
}


.bordes {
  border-top: var(--amarillo) 6px solid;
}

.nav_bg {
 
  background-color: var(--negro);
}


.navegacion_principal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


@media (min-width: 768px) {
  .navegacion_principal  {
    flex-direction: row;
    align-items: center;
  }
}


.navegacion_principal a {
  padding: 1rem;
  color: var(--blanco);
  text-decoration: none;
  font-size: 3rem;
  font-weight: 700;
}

.navegacion_principal a:hover {
  background-color: var(--amarillo);
  color: var(--negro);
  font-weight: 700;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  text-align: center;
}


.hero {
  height: 450px;
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h2{

  color: var(--blanco);

}
.contenido-hero, p{
  color: var(--blanco);
  font-weight: bold;
}

.contenido-hero a{

  text-decoration: none;
  color: var(--blanco);
}

.contenido-hero a:hover{
 
  background-color: var(--amarillo);
  color: var(--negro);
  

}

.contenido-hero{
position: absolute;
background-color: rgba(0, 0, 0, .7);
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
}











/*    */
