:root {
  --negro: #000000;
  --blanco: #ffffff;
  --oscuro: #0b0b0b;
  --crema: #e8dafc;
  --amarillo: #eccb13;
  --naranja: #ff5733;
}

/* globales */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
/* hask model box  = con este codigo se le quita todos los bordes al html que viene definido por default*/

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: rem;
  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--blanco);
}

/* Tipografia */

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.8rem;
}

span {
  font-size: 2rem;
  font-weight: bold;
}
h1,
h2,
h3 {
  text-align: center;
}

a {
  font-size: 1.5rem;
}

p {
  font-size: 1.5rem;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  text-align: center;
}

/* */
.boton {
  background-color: var(--amarillo);
  color: var(--negro);
  padding: 1rem 3rem;
  margin-top: 1.5rem;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.5rem;
  width: 90%;
  text-align: center;
  font-weight: bold;
}

@media (min-width: 768px) {
  .boton {
    width: auto;
    text-align: center;
  }
}

/* Titulo */
.titulo {
  padding: auto;
  text-align: center;

  color: var(--negro);
}

.titulo span {
  color: var(--amarillo);
  font-size: 3.8rem;
}

/* Borde amarillo de la barra de navegacion*/
.bordes {
  border-top: var(--amarillo) 4px solid;
}

/* Navegacion principal */
.nav_bg {
  background-color: var(--negro);
}

.navegacion_principal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .navegacion_principal {
    flex-direction: row;
    align-items: center;
  }
}

.navegacion_principal a {
  padding: 1rem;
  color: var(--blanco);
  text-decoration: none;

  font-weight: 700;
}

.navegacion_principal a:hover {
  background-color: var(--amarillo);
  color: var(--negro);
  font-weight: 700;
}

/* Hero */

.hero {
  height: 450px;
  background-image: url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.contenido-hero,
p {
  color: var(--blanco);
}

.contenido-hero a:hover {
  background-color: var(--amarillo);
  color: var(--negro);
}

.contenido-hero {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
  color: var(--blanco);
}

.contenido-hero .ubicacion {
  display: flex;
  align-items: flex-end;
}

/*Contenido    */
.contenedor {
  max-width: 120rem;
}
.sombra {
  background-color: rgba(255, 255, 255, 1);
  -webkit-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

@media (min-width: 768px) {
  .servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
  }
}
.servicio {
  margin-bottom: 2rem;
}

/* Corregir codigo aqui  */

.content-info p {
  color: var(--negro);
}

.footer {
  margin-top: 5rem;
  padding: 1rem;
  background-color: var(--negro);
}

.footer p{
  text-align: center;
  font-size: 2rem;
color: var(--blanco);

}
